#about {
    background-color: var(--bg-lighter);
    box-shadow: inset 0 10px 10px rgb(49, 63, 83, 0.7);
    padding: 20px 20px 60px 10px;
}
#about p{
    padding-left: 70px;
    line-height: 1.8rem;
    font-size: 1.3rem;
}
#about p span {
    color: var(--gold);
}
#about p::before {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: var(--gold);
    margin-left: -70px;
    margin-top: 30px;
    position: relative;
    top: 10px;
}


@media (max-width: 768px) {
    #about{
        padding: 10px 15px 30px 10px;
    }
    #about p {
        font-size: 1.1rem;
        line-height: 1.5rem;
    }
    #about p::before {
        margin-top: 20px;
    }
}

@media (max-width: 610px) {
    #about{
        margin-top: 5px;
    }
    #about p{
        padding-left: 40px;
        line-height: 1.4rem;
        font-size: 1rem;
    }
    #about p::before {
        margin-left: -40px;
        width: 30px;
        margin-top: 12px;
        height: 2px;
    }
    #about{
        padding: 10px 15px 15px 10px;
    }
}

@media (max-width: 375px) {
    #about{
        margin-top: 5px;
    }
    #about p{
        padding-left: 30px;
        line-height: 1.2rem;
        font-size: 0.9rem;
    }
    #about p::before {
        margin-left: -30px;
        width: 20px;
        margin-top: 6px;
        height: 2px;
    }
}