#skills h2 {
  margin: 20px 0 0 0;
  text-align: center;
  transform: translate(-10%, 0%);
  opacity: 0;
  transition: all 1s ease 0s;
}

#skills.visible h2 {
  transform: translate(0px, 0px);
  opacity: 1;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 40px;
}
.skillbox {
  opacity: 0;
  transition: all 0.4s linear;
  background-color: var(--bg-light);
  padding: 40px;
  margin: 15px;
  text-align: center;
  border-radius: 15px;
}
.skillbox span {
  display: block;
}
#skills.visible .skillbox {
  opacity: 1;
}
.skillbox:nth-child(2) {
  transition-delay: 0.15s;
}
.skillbox:nth-child(3) {
  transition-delay: 0.3s;
}
.skillbox:nth-child(4) {
  transition-delay: 0.45s;
}
.skillbox:nth-child(5) {
  transition-delay: 0.6s;
}
.skillbox:nth-child(6) {
  transition-delay: 0.75s;
}
.skillbox:nth-child(7) {
  transition-delay: 0.9s;
}
.skillbox:nth-child(8) {
  transition-delay: 1.05s;
}
.skillbox:nth-child(9) {
  transition-delay: 1.15s;
}
.skillbox:nth-child(10) {
  transition-delay: 1.3s;
}
.skillbox:nth-child(11) {
  transition-delay: 1.45s;
}

.skillbox img {
  display: block;
  margin-bottom: 20px;
  border-radius: 7px;
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.skillbox span {
  display: inline-block;
  font-size: 1.3rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  max-width: 120px;
}

@media (max-width: 1024px) {
  .skillbox img {
    max-width: 120px;
  }
  .skillbox {
    padding: 30px;
    margin: 10px;
  }
  .skillbox span {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .skills{
    padding-bottom: 20px;
  }
  #skills h2 {
    margin: 10px 0;
  }
  .skillbox img {
    max-width: 100px;
    margin-bottom: 10px;
  }
  .skillbox {
    padding: 15px;
    margin: 6px;
  }
  .skillbox span {
    font-size: 1rem;
  }
}
@media (max-width: 610px) {
  .skillbox {
    padding: 10px;
  }
  .skillbox img {
    max-width: 90px;
    margin-bottom: 0;
  }
  .skillbox span {
    display: none;
  }
}

@media (max-width: 425px) {
  .skillbox img {
    max-width: 70px;
  }
  .skillbox {
    padding: 6px;
    margin: 4px;
  }
}
