@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&family=Roboto:wght@300;700&family=Spectral:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  --gold: #e6b77d;
  --light-gray: #dce3ee;
  /* --bg-darker: #3a4a63; */
  --bg-dark: #425571;
  --bg-light: #576a84;
}

h2 {
  font-family: "Spectral", serif;
  font-size: 3rem;
}

img {
  max-width: 100%;
}


@media (max-width: 768px) {
  h2 {
    font-size: 36px;
  }
}

@media (max-width: 610px) {
  h2 {
    font-size: 26px;
  }
}

@media (max-width: 375px) {
  h2 {
    font-size: 22px;
  }
}
