@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&family=Roboto:wght@300;700&family=Spectral:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  --gold: #e6b77d;
  --light-gray: #dce3ee;
  --bg-darker: #3A4A63;
  --bg-lighter: #425571;
}

h2 {
  font-family: 'Spectral', serif;
  font-size: 3rem;
}

img {
  max-width: 100%;
}

